bin/
footest/
.project
.settings/
alvisnlp-rest/target/
alvisnlp-rest/.classpath
alvisnlp-rest/.project
alvisnlp-rest/.settings
alvisnlp-rest/expose-repository.sh
alvisnlp-rest/maven-repository/
core/eclipse-build/
core/target/
core/.classpath
core/.project
core/.settings
core/expose-repository.sh
core/maven-repository/
bibliome/eclipse-build/
bibliome/target/
bibliome/.classpath
bibliome/.project
bibliome/.settings
bibliome/expose-repository.sh
bibliome/maven-repository/
regression/
bibliome/src/main/resources/org/bibliome/alvisnlp/resources/ncbi-taxon-names.txt
header.txt
expose-repository.sh
maven-repository/
