bin/
footest/
.project
.settings/
alvisnlp-rest/target/
alvisnlp-rest/.classpath
alvisnlp-rest/.project
alvisnlp-rest/.settings
core/eclipse-build/
core/target/
core/.classpath
core/.project
core/.settings
core/expose-repository.sh
bibliome/eclipse-build/
bibliome/target/
bibliome/.classpath
bibliome/.project
bibliome/.settings
bibliome/expose-repository.sh
regression/
bibliome/src/main/resources/org/bibliome/alvisnlp/resources/ncbi-taxon-names.txt
