html {
    overflow-y: scroll;
}

.tree-node {
	padding-left: 5px;
}

.features-node {
	color: #C29979;
}

li.active > div > span > .features-node {
	color: #fff;
}

.feature-node {
	
}

.feature-key {
	float: left;
	min-width: 120px;
	color: #C29979;
}

li.active > div > span > .feature-node > .feature-key {
	color: #fff;
}

.element-node {
	
}

.corpus-node {
	
}

.document-node {
	
}

.section-node {
	
}

.relation-node {
	
}

.tuple-node {
	
}

.eval-node {
	font-style: italic;
	color: #C5283D;
}

li.active > div > span > .eval-node {
	color: #FFAFBA;
}

.argument-role {
	float: left;
	width: 80px;
	color: #127ECC;
}

li.active > div > span > span > .argument-role {
	color: #fff;
}

.annotation-node {

}

.annotation-offsets {
	float: left;
	width: 80px;
	font-size: 60%;
	padding-top: 1.4ex;
}

.annotation-form {
	font-style: italic;
}

.feature-value {
	font-style: italic;
}

.layer-node {
	
}

#pane-alert {
	height: 10vh;
}

#pane-query {
	height: 10vh;
}

#btn-evaluate {
	width: 100%;
}

#tree {
	padding-left: 0.75rem;
	height: 80vh;
	overflow-y: scroll;
	width: 100%;
}

#pane-right {
	margin-top: 20vh;
	padding-left: 50px;
	padding-right: 50px;
}

#layer-names {
	
}

.layer-icon {
	margin-right: 10px;
}

.doc-container {
	margin-top: 3ex;
	cursor: default;
}

.doc-id {
	font-size: 150%;
}

.doc-icon {
	margin-right: 10px;
}

.doc-body {
}

.sec-container {
	margin-top: 1ex;
}

.sec-name {
	font-size: 120%;
}

.sec-icon {
	margin-right: 10px;
}

.sec-body {
	line-height: 3;
}

.frag {
}

.frag-notempty {
	border-top-color: black;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.frag-nesting-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.frag-nesting-1 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.frag-nesting-2 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.frag-empty {
	
}

.frag-left-closed {
	padding-left: 2px;
	border-left-color: black;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.frag-left-open {
	
}

.frag-right-closed {
	padding-right: 2px;
	border-right-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.frag-right-open {
	
}

.frag-focus {
	border-color: red;
	border-width: 2px;
	margin: -1px;
}
