html {
    overflow-y: scroll;
}

.tree-node {
	padding-left: 5px;
}

.features-node {
	color: #C29979;
}

li.active > div > span > .features-node {
	color: #fff;
}

.feature-node {
	
}

.feature-key {
	float: left;
	min-width: 120px;
	color: #C29979;
}

li.active > div > span > .feature-node > .feature-key {
	color: #fff;
}

.element-node {
	
}

.corpus-node {
	
}

.document-node {
	
}

.section-node {
	
}

.relation-node {
	
}

.tuple-node {
	
}

.eval-node {
	color: #C5283D;
}

li.active > div > span > .eval-node {
	color: #FFAFBA;
}

.argument-role {
	float: left;
	width: 80px;
	color: #127ECC;
}

li.active > div > span > span > .argument-role {
	color: #fff;
}

.annotation-node {

}

.annotation-offsets {
	float: left;
	width: 80px;
	font-size: 60%;
	padding-top: 1.4ex;
}

.annotation-form {
	font-style: italic;
}

.feature-value {
	font-style: italic;
}

.layer-node {
	
}

#pane-alert {
	padding-bottom: 10px;
}

#pane-query {
	padding-bottom: 10px;
}

#tree {
	padding-left: 0.75rem;
}