.features-node {
	color: gray;
}

.element-node {
	
}

.corpus-node {
	
}

.document-node {
	
}

.document-node::before {
	content: "Document: "
}

.section-node {
	
}

.section-node::before {
	content: "Section: ";
}

.relation-node {
	
}

.relation-node::before {
	content: "Relation: ";
}

.tuple-node {
	
}

.argument-role {
	float: left;
	width: 80px;
	color: red;
}

.annotation-node {

}

.annotation-offsets {
	float: left;
	width: 80px;
	font-size: 60%;
	padding-top: 1.4ex;
}

.annotation-form {
	font-style: italic;
}

.feature-node {
	
}

.feature-key {
	float: left;
	min-width: 120px;
	color: blue;	
}

.feature-value {
	font-style: italic;
}

.layer-node {
	
}

.layer-node::before {
	content: "Layer: ";
}
