<DefaultConfig>
    RESULT_DIR = $PWD/RESULTS
</DefaultConfig>
<OPTIONS>
    MESSAGE_DISPLAY = EN
    TC-for-BioLG = 0
    TT-for-BioLG = 0
    TTG-style-term-candidates = multi
    XML-corpus-for-BioLG = 0
    annotate-only = 0
    debug = 0
    language = EN
    match-type = 
    monolexical-all = 1
    monolexical-included = 0
    printChunking = 0
    suffix = default
    termList = multi
    xmlout = 1
</OPTIONS>
