<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2016, 2017 Institut National de la Recherche Agronomique

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AlvisNLP/ML REST API</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.jersey.jaxb</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>fr.jouy.inra.maiage.bibliome.alvis.web</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.forwardOn404</param-name>
			<param-value>1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlvisNLP/ML REST API</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>alvisnlp.plan-dir</param-name>
		<param-value>/home/rbossy/public_html/alvisnlp/plans</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.url-base</param-name>
		<param-value>http://localhost:8080/alvisnlp-rest</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.processing-dir</param-name>
		<param-value>/home/rbossy/public_html/alvisnlp/runs</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.resource-dir</param-name>
		<param-value>/home/rbossy/public_html/alvisnlp/resources</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.executor-class</param-name>
		<param-value>fr.jouy.inra.maiage.bibliome.alvis.web.executor.ThreadExecutor</param-value>
	</context-param>
</web-app>
