<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AlvisNLP/ML REST API</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.jersey.jaxb</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>fr.jouy.inra.maiage.bibliome.alvis.web</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.forwardOn404</param-name>
			<param-value>1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlvisNLP/ML REST API</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>alvisnlp.plan-dir</param-name>
		<param-value>/home/rbossy/code/alvisnlp/trunk/plan-test</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.url-base</param-name>
		<param-value>http://localhost:8080/alvisnlp-rest/</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.processing-dir</param-name>
		<param-value>/home/rbossy/tmp/</param-value>
	</context-param>
	<context-param>
		<param-name>alvisnlp.executor-class</param-name>
		<param-value>fr.jouy.inra.maiage.bibliome.alvis.web.executor.ThreadExecutor</param-value>
	</context-param>
</web-app>
